nav,
ul {
  display: flex;
}

body {
  text-align: left;
  background-color: skyblue;
  max-width: 50em;
  font-family: "Libertinus Sans", sans-serif;
  font-size: large;
  margin: 0 auto;
  line-height: 1.4em;
  padding-left: 2em;
  padding-right: 2em;
}

h1,
h2 {
  text-align: center;
  border: 2px solid black;
  padding: 0.5em;
  background-color: mediumpurple;
  color: aliceblue;
  font-family: "Libertinus Sans", sans-serif;
  line-height: 1.4em;
}

img {
  border: solid lavender 1em;
  margin: 1em;
}

li {
  list-style-type: none;
  padding: 10px;
}

.flex-container {
  display: flex;
}

.flex-item {
  background-color: lightpink;
  padding: 15px;
  border: solid grey 1px;
}

footer {
  clear: both;
  text-align: center;
}
.cite {
  text-align: right;
  clear: both;
}

.libertinus-sans-regular {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro-photo img {
  float: right;
  display: block;
  border: solid lavender 0.5em;
  margin-bottom: 1em;
  margin-top: -3em;
}

a {
  text-decoration: none;
}

.flex-container2 {
  display: flex;
  float: left;
  font-family: "Libertinus Sans", sans-serif;
}
h3 {
  font-family: "Libertinus Sans", sans-serif;
}
