* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.email a {
  color: black;
}

nav,
ul {
  display: flex;
}

body {
  text-align: left;
  background-color: skyblue;
  max-width: 50em;
  font-family: "Libertinus Sans", sans-serif;
  font-size: large;
  margin: 0 auto;
  line-height: 1.4em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1,
h2 {
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  padding: 0.1em 1em;
  background-color: mediumpurple;
  color: aliceblue;
  font-family: "Libertinus Sans", sans-serif;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

img {
  border: solid lavender 1em;
  margin: 1em;
  max-width: 100%;
  justify-content: center;
}
.textalign {
  text-align: center;
}
li {
  list-style-type: none;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  gap: 1em;
}

.flex-item {
  background-color: lightpink;
  padding: 15px;
  border: solid grey 1px;
}

footer {
  clear: both;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.cite {
  text-align: right;
  clear: both;
}

.libertinus-sans-regular {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro-photo img {
  float: right;
  display: block;
  border: solid lavender 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.flex-container2 {
  display: flex;
  float: left;
  font-family: "Libertinus Sans", sans-serif;
}
h3 {
  font-family: "Libertinus Sans", sans-serif;
}
p {
  overflow: auto;
}
